<div class="container">
  <h1>chatbox</h1>
  
  <form action="/" method="POST">
    <table class="window">
      <tr>
        <th>Discussion Thread</th>
        <label for="userName">username</label><br>
        <input type="text" name="userName" id="userName" value="" required="">
      </tr>
      <tr>
        <td>
          
        </td>
      </tr>     
    </table>

    <textarea id="comment-text" name="commentText" rows="2" cols="25" required=""></textarea></br>
    <input type="submit" id="submit-comment" value="comment">
  </form>
  <footer>
    <span><p>create by Ryan Truong</p><button type="button" id="contact-btn">contact me</button><br></span>
  </footer>
</div>
